/* Paleta Colores
Primario: #7b20f9;
Primario oscuro: #442a8c;
Secundario: #fcce5c;
Texto-Primario: #ffffff;
Texto-Secunadario: #000000;
color error: color:#d55c00;
*/
/*
font-family: 'Poppins', sans-serif;*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


/* headings */

.heading1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#383142;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#383142;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.heading3 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color:#383142;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.heading4 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color:#383142;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

/* Parrafo */

p.poppins-p {
    padding: 22px 0;
    font-family: Poppins;
    font-size: 16px;
    color: #383142;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


/* Buttons btn-primary btn-secondary */

.btn-primary {
    background-color:#5B14BC!important;
    color: #ffffff!important;
    border: 1px solid #5B14BC!important;
}

.btn-secondary {
    background-color:#ffffff!important;
    color:  #5B14BC!important;
    border: 1px solid #5B14BC!important;
}



.btn-heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;    
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}


/* Card */

.card {
    border-style: none;
}

.card-img, .card-img-top {
    border-radius: 8px;
    /*width: 320px;
    height: 286px;
    margin: 0 auto;*/
    box-shadow: 0px 5px 5px rgb(0 0 0 / 42%);
}

/*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}*/

/* badge */

.badge-primary {
    background-color: #E4D1FF;
    margin-right: 0.5em;
    line-height: 24px!important;
    color: #7B20F9!important;
    text-align: center!important; 
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
}

/*.badge-primary .heading4 {

    line-height: 24px!important;
    color: #7B20F9!important;
    text-align: center!important; 
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    
}*/

.btn-heading2 {
    margin-bottom: 0px;
}

/*.btn-group-lg>.btn, .btn-lg {
    padding: 0.7rem 1rem;
}*/

/* Links */

a {
    color: #7B20F9;
}

/* Icon star */

i.bi.bi-star-fill {
    color: #FCCE5C;
    font-size: 10px;
}

i.bi.bi-three-dots-vertical, i.bi.bi-arrow-left-short {
    font-size: 1.2rem !important;
}

i.bi.bi-share-fill {
    font-size: 1rem !important;
}

.bi-arrow-left-short::before {
    content: "\f12c";
    font-size: 1.7rem;
}

.bi-star-fill::before, .bi-eye-fill::before {
    line-height: 16px !important;
}

i.bi.bi-download, i.bi.bi-bookmark {
    color: #383142 !important;
    font-size: 16px;
    margin-left: 8px;
}

.bi-share-fill::before, .bi-arrow-left-short::before, .bi-three-dots-vertical::before {
    line-height: 1.5rem !important;
}

/* Navbar color icon*/

.navbar-brand {
    color: #7B20F9!important;
}

/* Link bold */

.link-bold {
    font-weight: 600;
}



/*----------------------------------------------*/

/*.item.col-sm-4.col-xl-4 {
    padding: 0px !important;
}
.owl-carousel .owl-item {
    margin-right: 8px !important;
}*/
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 42%);
    margin-bottom: 16px;
    height: 134px;
    max-width: 90px;
}

.heading3 {
    margin: 32px 0 16px;
}

.badge-primary .heading4 {
    margin-bottom: 0px;
}

.btn-primary {
    background-color: #7B20F9!important;
    color: #ffffff!important;
    border: 1px solid #7B20F9!important;
height: 48px;
}

/*Necesito que los votos tengan un div y tenga una clase.

Este row debería tener una clase xq hay varios es para la bajada de la card principal.*/

.row .card-principal {
    margin: 32px 0;
}


/* Hader Nav */
.bg-light {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff!important;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #383142;
}

/* Navbar bottom */

.navbar-bottom {
    background-color: #7B20F9;    
}

.text-bottom {
    color: #ffffff !important;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
}

.bi-house-door-fill {
    color: #ffffff
}

.bi-search {
    color: #ffffff
}

.bi-person {
    color: #ffffff
}

.bi-bell {
    color: #ffffff
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}


/* Buscador imagen detalle */

.img-detalle {
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 42%);
    margin-bottom: 16px;
    height: 134px;
    max-width: 90px;
}