/* Paleta Colores
Primario: #7b20f9;
Primario oscuro: #442a8c;
Secundario: #fcce5c;
Texto-Primario: #ffffff;
Texto-Secunadario: #000000;
color error: color:#d55c00;
*/
/*
font-family: 'Poppins', sans-serif;*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


/* headings */

.heading1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color:#383142;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#383142;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.heading3 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color:#383142;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.heading4 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color:#383142;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}


/*Buttons btn-primary btn-secondary */

.btn-primary {
    background-color:#5B14BC!important;
    color: #ffffff!important;
    border: 1px solid #5B14BC!important;
}

.btn-secondary {
    background-color:#ffffff!important;
    color:  #5B14BC!important;
    border: 1px solid #5B14BC!important;
}



.btn-heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;    
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}